<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1 class="loading-text">Loading...</h1>
            <div class="loading-spinner"></div>
                <h3>You'll be redirected soon.</h3>
                <button id="redirectButton" onclick="redirect()">Redirect</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='loading_script.js') }}"></script>
</body>
</html>
